#title{
    text-align: center;
}
#description{
   text-align: center;
}

#survey-form {
    box-sizing: border-box;
    margin: auto;
    width: 600px;
    padding: 55px;
    text-align: center;
    background-color: yellow;
}
#dropdown {
    margin: 22px;
    width: auto;
    margin-top: 8px;
    margin-left: 54px;
}
#dropdown2 {
    margin: 22px;
    width: auto;
    margin-top: 8px;
    margin-left: 54px;
}
#submit{
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #37a565;
    border-color: #37a565;
}